*-stamp
*.debhelper
*.log
*.substvars
files

# package dirs
tmp
python3-ivxv-common
ivxv-admin
ivxv-backup
ivxv-choices
ivxv-common
ivxv-log
ivxv-mid
ivxv-smartid
ivxv-webeid
ivxv-proxy
ivxv-storage
ivxv-verification
ivxv-voting
ivxv-votesorder
ivxv-sessionstatus
